{
  "parser": "@typescript-eslint/parser",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": ["airbnb", "airbnb-typescript", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
      "project": ["./tsconfig.json"]
  },
  "rules": {
      "react/jsx-filename-extension": "off",
      "react/prop-types": [1, { "ignore": ["classes", "children"] }],
      "react/jsx-uses-react": "off",
      "react/jsx-props-no-spreading": "off",
      "react/react-in-jsx-scope": "off",
      "react/require-default-props": "off",
      "no-console": "off",
      "new-cap": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "no-unused-vars": "warn",
      "max-len": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/no-explicit-any": "off"
   }
}